<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      alt="pokemon-image"
    />
  </div>
  <div class="pokemon-card__number">Nº001</div>

  <div class="pokemon-card__name">Bulbasaur</div>
  <div class="pokemon-card__types">
    <div class="pokemon-card__types pokemon-card__types--grasss">Grass</div>
    <div class="pokemon-card__types pokemon-card__types--poison">Poison</div>
  </div>
</div>

<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png"
      alt="pokemon-image"
    />
  </div>
  <div class="pokemon-card__number">Nº002</div>

  <div class="pokemon-card__name">Ivysaur</div>
  <div class="pokemon-card__types">
    <div class="pokemon-card__types pokemon-card__types--grasss">Grass</div>
    <div class="pokemon-card__types pokemon-card__types--poison">Poison</div>
  </div>
</div>

<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png"
      alt="pokemon-image"
    />
  </div>
  <div class="pokemon-card__number">Nº003</div>

  <div class="pokemon-card__name">Venusaur</div>
  <div class="pokemon-card__types">
    <div class="pokemon-card__types pokemon-card__types--grasss">Grass</div>
    <div class="pokemon-card__types pokemon-card__types--poison">Poison</div>
  </div>
</div>

<div class="pokemon-card">
  <div class="pokemon-card__image">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png"
      alt="pokemon-image"
    />
  </div>
  <div class="pokemon-card__number">Nº004</div>

  <div class="pokemon-card__name">Charmander</div>
  <div class="pokemon-card__types">
    <div class="pokemon-card__types pokemon-card__types--grasss">Fire</div>
  </div>
</div>
